.navbar {
    background-color: var(--setBlue);
    padding: 1%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
}

.innernav {
    width: 40%;
}

.innernav2 {
    width: 60%;
}

.link {
    color: var(--setGreen);
    display: block;
    float: right;
    text-decoration: none;
    padding: 2% 2% 0 2%;
}

.link:hover {
    color: white;
}

.img {
    width: 15%;
}

.heading {
    display: inline;
    color: var(--setGreen);
    font-size: 30px;
    margin-left: 5%;
}